{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/email_certificate_notify.css' %}">
	<title>Document</title>
</head>
<body>
	<div class="card">
		<div class="header">
			<img src="http://localhost:8000/{%static 'img/email/logo.svg' %}" alt="">
			<div style="font-size:4vw; color: #C7B491">MYSELF</div>
			<div style="font-size:2vw; color: black">На ваш адрес почты был заказан сертификат на сумму: {{value}}</div>
			<div style="font-size:2vw; color: black">Данные заказчика:</div>
			<div style="font-size:2vw; color: black">Почта: {{email_payer}}, Номер телефона: {{phone_payer}}</div>
			<div style="font-size:2vw; color: black">Текст поздравления:</div>
			<div style="font-size:1vw; color: black">{{congratulation}}</div>
			<div style="font-size:2vw; color: black">{{todo}}</div>
		</div>
	</div>

</body>
</html>