{% extends "store/base_2.html" %}
{%load static%}
{% block content %}
{% if  object_list %}
<div class='products_place'>
    {% for favorite in object_list %}
    <div class="product_card">
            <a href="{% url 'store:product_detail' favorite.product.id %}"><img class="img_product" src="{{favorite.product.image.url}}" alt=""></a>
				<span>{{favorite.product.title}}</span>
				<div class="wrapp">
					<span class="price">{{favorite.product.cost}}</span>
                    <a href="{% url 'user:del_from_favorite' favorite.product.id %}"><img class="add_to_favorite" src="{% static 'img/catalog/del_from_favorite.svg' %}" alt=""></a>
				</div>
                {% for color in favorite.product.get_colors %}
				<a href="{% url 'store:product_detail' favorite.product.id color.color %}"><div class="circle" style="background: {{color.color}}"></div></a>
				{% endfor %}
    </div>
    {% endfor %}
</div>
{% else %}
<div class="if_favorites_empty">В избранном нет товаров. вам могут понравиться товары в категории одежда. </div>
{% endif %}
{% endblock %}