body {

	background-color: #313131;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Inter;
	letter-spacing: 2px;
	overflow: hidden;
}
.form {
	background-color: white;
	width: 30vw;
	height: 70vh;
	box-shadow: 0 4px 16px #ccc;

}
.form__input::placeholder {color: #897C7C;}

.form__input{
	width: 100%;
	height: 5vh;
	color: black;
	border: 0;
    outline: 0;
    border-bottom: 1px solid #897C7C;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.form__group{
	text-align: center;
	padding-left: 3vw;
	padding-right: 3vw;
}

.titles{
	display: flex;
	font-size: 1vw;
	margin-bottom: 8vh;
   	align-items:center;
   	vertical-align: middle;
   	justify-content: center;
}
.titles a{
	text-decoration: none;
	color: black;
}


.form_button{
	text-align: center;
}
button{
	width: 70%;
	height: 5vh;
	font-size: 1vw;
	color: white;
	background-color: #313131;
	border: 0px;
	margin-top:4vh;
}
button:hover{

    box-shadow: 1px 1px 1px #313131  ;
 	cursor: pointer;

}
.link a{
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 0.8vw;
	color: #313131;
}
.cross{

	display: block;
    max-width: 100%;
    max-height: 100%;
    height: 1.6vh;
    padding-top: 2vw;
    padding-bottom: 12px;
}
