body{

	padding-left: 2vw;
	padding-right: 2vw;

}
.wrapper{
	display: inline-block;
	width: 8vw;
}
.slider{
	display: inline-block;
	width: 8vw;
	position: relative;
}
.slider img{
	width: 100%;
	height: 12vw	;
	object-fit: cover;
}
.mainphoto-block{
	display: inline-block;
	width: 40vw;
	height: 60vw;
}
.mainphoto{
	width: 100%;
  	height: 100%;
	object-fit: cover;
}
.slider .slick-arrow{
	position: absolute;
}
.slider .slick-arrow.slick-prev{
	top: -6vw;
	left: 3.2vw;
	font-size: 0;
	border:none;
	width: 1.4vw;
	background: url('/static/img/catalog/Arrow.svg') 0 0 / 100% no-repeat;
	height: 2vw;
}
.slider .slick-arrow.slick-next{
	left: -50vw;
	font-size: 0;
}
.similar span{
	font-size: 2.8vw;
}

.main_content-block{
	display: inline-block;
	width: 40vw;
	position: absolute;
	font-size: 1.6vw;
}
.path{
	font-size: 1.6vw;
	color: #C7B491;
}
.path span:last-child{
	color: black;
}
.name{
	font-size: 1.6vw;
}
.product_card{
	font-size: 1vw;
	width: 18vw;
	height: 32vw;
	display: inline-block;
	margin-left: 4vw;
}
.img_product{

	width: 100%;
	height: 80%;

}
.product_card span{
	font-size: 1vw;

}
.price{
	color:#C7B491;
}
.add_to_favorite{
	height: 1vw;
	float: right;
}
.flex-wrap{
	display: flex;
	justify-content: center;
	margin-top: 2vw;
}
.flex-wrap :first-child{
	margin-left: 0;
}
.add_to_basket{

        padding: 2vw;
        font-size:1vw;

}
