{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    {% block css %} {% endblock %}

    {% block title %} {% endblock %}
</head>
<body>
	{% block bg_photo %} {% endblock %}
		<div>
			<a href="{% url 'store:home' %}">
				<img class="logo" src="{%static 'img/index_page/logo.svg'%}" alt="">
			</a>
		</div>
		<nav class="first_main_page_nav">
			<a href="{% url 'store:search' %}"><img src="{% static 'img/index_page/first_nav_search.svg'%}" alt=""></a>
			{% if request.user.is_authenticated%}
			<a href="{% url 'user:favorite' %}"><img src="{% static 'img/index_page/first_nav_heart.svg'%}" alt=""></a>
			<a href="{% url 'user:profile' %}"><img src="{% static 'img/index_page/first_nav_person.svg'%}" alt=""></a>
			{% else %}
			<a href="{% url 'user:log' %}"><img src="{% static 'img/index_page/first_nav_heart.svg'%}" alt=""></a>
			<a href="{% url 'user:log' %}"><img src="{% static 'img/index_page/first_nav_person.svg'%}" alt=""></a>
			{% endif %}
		</nav>
		<nav class="second_main_page_nav">
			<a href="{% url 'store:catalog' %}">каталог</a>
			<a href="{% url 'store:catalog_by_category' 1 %}">сумки</a>
			<a href="{% url 'store:home' %}">myself</a>
			<a href="{% url 'store:catalog_filters' 1 %}">мужчинам</a>
			<a href="{% url 'store:catalog_filters' 2 %}">женщинам</a>
		</nav>
	</div>
        {% block content %} {% endblock %}
	<div class ="container3">


		<div class="info_links">
				<div class="block__column">
					<div class="flex_content">

						<div>КАТАЛОГ</div>
						<div><a href="">EXTRA SALE</a></div>
						<div><a href="">Новинки</a></div>
						<div><a href="">Одежда</a></div>
						<div><a href="">Аксессуары</a></div>
						<div><a href="">Белье и купальники</a></div>
						<div><a href="">Выбери свой стиль</a></div>
						<div><a href="">SALE</a></div>

					</div>

				</div>
				<div class="block__column">
					<div class="flex_content">

						<div>ПОМОЩЬ ПОКУПАТЕЛЮ</div>
						<div><a href="">Доставка и оплата</a></div>
						<div><a href="">Обмен и возврат</a></div>
						<div><a href="">Часто задаваемые вопросы</a></div>
						<div><a href="">Правила программы лояльности</a></div>
						<div><a href="">Подарочные сертификаты</a></div>
						<div><a href="">Правила работы сайта</a></div>
						<div><a href="">Политика конфиденциальности</a></div>

					</div>
				</div>

				<div class="block__column">
					<div class="flex_content">

						<div>О КОМПАНИИ</div>
						<div><a href="">О бренде</a></div>
						<div><a href="">Работа в бренде MYSELF</a></div>
						<div><a href="">Сотрудничество</a></div>
						<div><a href="">Контакты</a></div>
						<div><a href="">Обратная связь</a></div>

					</div>
				</div>

				<div class="block__column">
					<div class="flex_content">

						<div>БЛОГ</div>
						<div><a href="">Новости и акции</a></div>
						<div><a href="">Lookbook</a></div>
					</div>
				</div>

				<div class="block__column">
					<div class="flex_content">

						<div>ПРОГРАММА ЛОЯЛЬНОСТИ</div>
						<div><a href="">Стань участником MYSELF прямо сейчас! Копи <br> бонусы, повышай уровень и получай скидку до <br>50% от стоимости покупки! </a></div>


					</div>
				</div>
		</div>

	</div>

	<div class="wrapp">
		<div class="social_network_links">
			<a href=""><img src="{% static 'img/index_page/VK.svg'%}" alt=""></a>
			<a href=""><img src="{% static 'img/index_page/telegram.svg' %}" alt=""></a>
			<a href=""><img src="{% static 'img/index_page/insta.svg' %}" alt=""></a>
			<a href=""><img src="{% static 'img/index_page/youtube.svg' %}" alt=""></a>
		</div>
	</div>


<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static 'js/index.js'%}"></script>
</body>
</html>