{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/catalog_style.css' %}">
	{% block add_css %}

	{%  endblock %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap" rel="stylesheet">

	<title>Каталог</title>
</head>
<body>
	<header>
		<a href=""><img class="nav_menu" src="{% static 'img/catalog/nav_button.svg' %}" alt=""></a>
		<div>
			<a href="{% url 'store:home' %}"><span>MYSELF</span></a>
		</div>
		<div class="nav_menu">

			<a href="{% url 'store:search' %}"><img style="margin-left: 0;" src="{% static 'img/catalog/search.svg' %}" alt=""><a/>
			<a href="{% url 'store:catalog'%}"><img src="{% static 'img/catalog/bascet.svg' %}" alt=""></a>
			<a href="{% url 'user:favorite' %}"><img src="{% static 'img/catalog/heart.svg' %}" alt=""></a>
			<a href="{% url 'user:profile' %}"><img src="{% static 'img/catalog/person.svg' %}" alt=""></a>

		</div>
	</header>
	<div class="filter_path">{{path}}</div>
	<div class="title">{{title}}</div>
	{% block content %}
	{% endblock %}
</body>
</html>