{% extends "store/base.html" %}
{% load static %}
{% block css %}	<link rel="stylesheet" href="{%static 'css/index_style.css'%}"> {% endblock %}
{% block title %} <title>MySelf</title>{% endblock %}
{% block bg_photo %}
<div
			style="background: url('{% static 'img/index_page/Index_page_background.jpg'%}');
	 			height: 100vh; background-size: cover;" class="main_page-block"
>
{% endblock %}
{% block content %}
		<div class="new_collection_link">
			<a href="#">
				<img src="{% static 'img/index_page/white_arrow.svg' %}" alt="">
				<span>  НОВАЯ КОЛЛЕКЦИЯ  </span>
			</a>
		</div>
	</div>
	<div class="container1">
		<div class="choose_your_style-block">
			<span>
				ВЫБЕРИ СВОЙ СТИЛЬ
			</span>
			<span>
				электронные сертификаты на любую сумму
			</span>
			<span>
				<a href="{% url 'store:book_certificate' %}">
					выбрать
				</a>
			</span>
		</div>

		<div class="new_collection-block">

			<span class="new_collection_span">НОВАЯ КОЛЛЕКЦИЯ</span>
			<a href="#">ПОСМОТРЕТЬ КОЛЛЕКЦИЮ</a>

			<div class="for_he-for_she-block">

				<div class="for_she">
					<span>ДЛЯ НЕЁ</span>
					<a href="">КУПИТЬ СЕЙЧАС</a>
					<img src="{% static 'img/index_page/black_arrow.svg' %}" alt="">
					<div>СВИТЕР ОТ 1799 ₽</div>
				</div>
				<div class="for_he">
					<span>ДЛЯ НЕГО</span>
					<a href="">КУПИТЬ СЕЙЧАС</a>
					<img src="{% static 'img/index_page/gold_arrow.svg' %}" alt="">
					<div>ДЖИНСЫ  ОТ 1899 ₽</div>
				</div>

			</div>

		</div>



		<div class="image-slider1 swiper-container">
			<div class="image-slider_wraper1 swiper-wrapper">

				<div class="image-slider_slide1 swiper-slide">
					<div class="image-slider_image1">
						<img src="{%static 'img/index_page/slide3.jpg' %}" alt="">
						<div class="circle"></div>
					</div>
				</div>

				<div class="image-slider_slide1 swiper-slide">
					<div class="image-slider_image1">
						<img src="{% static 'img/index_page/slide2.jpg' %}" alt="">
					</div>
				</div>

				<div class="image-slider_slide1 swiper-slide">
					<div class="image-slider_image1">
						<img src="{% static 'img/index_page/slide1.jpg' %}" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-next">

		</div>
		<div style =" width: 4vw;
					  height: 4vw;
					  background-image: url('{% static 'img/index_page/button for slider.svg' %}');
					  position: absolute;
					  top: calc(110vh + 48vw);
					  transform: translateY(-50%);
					  border-radius: 60px;
					  z-index: 9999;
					  background-size: cover;"

			 class='swiper-prev1'>

		</div>

		<div class="img1">
			<img src="{% static 'img/index_page/image23.jpg' %}" alt="">
			<div class="div1">ЧЕРНАЯ ПЯТИЦА</div>
			<div><span>СКИДКА 30 % </span>ТОЛЬКО ДЛЯ<br>ЗАРЕГИСТРИРОВАННЫХ<br>ПОКУПАТЕЛЕЙ</div>
			<div>1-28 ФЕВРАЛЯ 2023</div>
		</div>
		<div class = "bla-bla"></div>

	</div>
	<div class="choose_your_own_identity-block">
		<div class="choose_your_own_identity-text">
			<div>CHOOSE<br>YOUR <br> OWN <br>IDENTITY</div>
			<div>НУЖЕН СТИЛЬ, <br>ПОДХОДЯЩИЙ К <br>ПОВСЕДНЕВНЫМ ДЕЛАМ ?<br><br>ПОСМОТРИ ИЗ НАШИХ УЖЕ<br>СОСТАВЛЕННЫХ <br>КОЛЛЕКЦИЙ. </div>
			<div>
				<a href="#">посмотреть коллекцию</a>
				<img src="{% static 'img/index_page/white_arrow.svg'%}" alt="">
			</div>

		</div>
		<div class="image-slider2 swiper-container">
			<div class="image-slider_wraper2 swiper-wrapper">

				<div class="image-slider_slide2 swiper-slide">
					<div class="image-slider_image2">
						<img src="{% static 'img/index_page/slider2 slide1.jpg'%}" alt="1">
					</div>
				</div>

				<div class="image-slider_slide2 swiper-slide">
					<div class="image-slider_image2">
						<img src="{% static 'img/index_page/slide2.jpg' %}" alt="2">
					</div>
				</div>

				<div class="image-slider_slide2 swiper-slide">
					<div class="image-slider_image2">
						<img src="{% static 'img/index_page/slide1.jpg' %}" alt="3">
					</div>

				</div>

			</div>
		</div>

		<div style="
		  			width: 4vw;
					height: 4vw;
					background-image: url('{% static 'img/index_page/button for slider2.svg'%}');
					position: absolute;
					top: calc(30vh + 10vw);
					left: calc(25vw + 30vh);
					transform: translateY(-50%);
					border-radius: 60px;
					z-index: 9999;
					background-size: cover;"

			 class="swiper-next"></div>
		<div class='swiper-prev2'></div>

	</div>
	<div class="element_of_nature-block">
			<span>ELEMENT OF NATURE</span>
			<div>ИЗГОТОВЛЕНО С ИСПОЛЬЗОВАНИЕМ ТОЛЬКО
				<br>ЛУЧШИХ МАТЕРИАЛОВ.<br>
				<span>WE ALWAYS KEEP IT REAL.</span>
			</div>

			<div style="
				width: 100%;
				height: 100vh;
				background-image: url('{% static 'img/index_page/bg_for_element_of_nature-block.jpg' %}');
				margin-top: -5vw;
				background-size:cover;"
		class="img2"></div>
	</div>

	<div class="info">
		Стильная женская одежда Myself <br>
		Бренд MYSELF открывает секрет настоящего стиля. Сочетание утонченного классического стиля и ярких оригинальных деталей <br>позволяет создавать неповторимые образы.<br>
		Одежда MYSELF для создается как для женщин так и для мужчин - одежда для дома, работы, отдыха с  безупречным и тонким <br>вкусом прекрасного. <br>
		Интернет магазин женской одежды MYSELF поможет вам выглядеть безупречно в любой ситуации. <br>
		3 принципа идеального образа от MYSELF: <br>
		<span class= "у_меня_не_работает_nth_child_1">Классический стиль.</span> <br>
		<span class= "у_меня_не_работает_nth_child_2">Актуальные детали. Модные тренды.</span> <br>
		<span class= "у_меня_не_работает_nth_child_3">Доступность.Это недорогая одежда превосходного качества.</span> <br>
		Мы стремимся сделать моду доступной в каждом уголке России. В нашем интернет-магазине  вы можете оформить заказ за <br>несколько минут, оплатить его удобным способом и заказать доставку в любой город нашей страны. Наша курьерская служба <br>доставляет заказы в срок от 1 дня. <br>
		Наслаждайтесь покупками, не выходя из дома!
	</div>
{% endblock %}